<h4>
    <li><a name='Auth'></a>Authentication</li>
</h4>
<p>Auth yang disediakan saat ini hanya untuk pmp saja
    . Auth untuk akun yang lain sedang dalam proses pengerjaan
    <br>
    Untuk Akses Admin, kunjungi <a href="{{ current_site }}/admin">{{ current_site }}/admin</a></p>
<ol type="a">
    <li>Register</li>
    <ul>
        <li>POST method <a href='#Auth'>{{ current_site }}{% url "user:user_regis" %}</a></li>
        <p>body param : nik, password, password2, tanggal_lahir(ddmmyyyy), email*, kontak</p>
        <p>success return : STATUS 201</p>
        <p>NIK dan tanggal lahir harus sesuai dengan yang ada pada tabel datul_pmp</p>
    </ul>
    <li>Login</li>
    <ul>
        <li>POST method <a href='#Auth'>{{ current_site }}{% url "user:user_login" %}</a></li>
        <p>body param : nik, password, tanggal_lahir</p>
        <p>success return : STATUS 200, token</p>
    </ul>
    <li>Refresh Token</li>
    Token yang didapat dari Login hanya bertahan selama 1 jam. Minta token baru di menit-menit akhir dengan metode ini
    <ul>
        <li>POST method <a href='#Auth'>{{ current_site }}{% url "user:new_token" %}</a></li>
        <p>body param : token (token lama)</p>
        <p>success return : STATUS 200, token (token baru)</p>
    </ul>
    Setelah mendapatkan Token baru, token lama dapat diabaikan. Jika Refresh gagal karena token expire, maka invoke
    user untuk login kembali
</ol>