<h4>
    <li><a name='Daerah'></a>Model Daerah</li>
</h4>
<p>Model Daerah Berisi daerah dari tingkat kota-kelurahan + kode pos</p>
<ol type="a">
    <li>Get by ID</li>
    <ul>
        <li>GET method <a href='#Daerah'>{{ current_site }}{% url "datul:drh_list" %}1/</a></li>
        <p>header param : Authorization ('Bearer' + '&lt;spasi&gt;' + token) </p>
        <p>success return : STATUS 200, daerah</p>
    </ul>
    <li>Get by Provinsi</li>
    <ul>
        <li>GET method <a href='#Daerah'>{{ current_site }}{% url "datul:drh_list" %}prov/11/</a></li>
        <p>header param : Authorization ('Bearer' + '&lt;spasi&gt;' + token) </p>
        <p>success return : STATUS 200, list(daerah)</p>
    </ul>
    <li>Get by Kota</li>
    <ul>
        <li>GET method <a href='#Daerah'>{{ current_site }}{% url "datul:drh_list" %}kota/PIDIE+JAYA/</a></li>
        <p>header param : Authorization ('Bearer' + '&lt;spasi&gt;' + token) </p>
        <p>success return : STATUS 200, list(daerah)</p>
    </ul>
    <li>Get by Kecamatan</li>
    <ul>
        <li>GET method <a href='#Daerah'>{{ current_site }}{% url "datul:drh_list" %}camat/BANDAR+BARU/</a></li>
        <p>header param : Authorization ('Bearer' + '&lt;spasi&gt;' + token) </p>
        <p>success return : STATUS 200, list(daerah)</p>
    </ul>
    <li>Get by Kelurahan</li>
    <ul>
        <li>GET method <a href='#Daerah'>{{ current_site }}{% url "datul:drh_list" %}desa/ABAH+LUENG/</a></li>
        <p>header param : Authorization ('Bearer' + '&lt;spasi&gt;' + token) </p>
        <p>success return : STATUS 200, daerah</p>
    </ul>
    <li>Get by Postal Code</li>
    <ul>
        <li>GET method <a href='#Daerah'>{{ current_site }}{% url "datul:drh_list" %}pos/24184/</a></li>
        <p>header param : Authorization ('Bearer' + '&lt;spasi&gt;' + token) </p>
        <p>success return : STATUS 200, list(daerah)</p>
    </ul>
</ol>