<h4>
    <li><a name='P2tel'></a>Model P2TEL</li>
</h4>
<ol type="a">
    <li>Get ALL</li>
    <ul>
        <li>GET method <a href='#P2tel'>{{ current_site }}{% url "datul:p2tel_list" %}</a></li>
        <p>header param : Authorization ('Bearer' + '&lt;spasi&gt;' + token) </p>
        <p>success return : STATUS 200, list(p2tel)</p>
    </ul>
    <li>Get by ID</li>
    <ul>
        <li>GET method <a href='#P2tel'>{{ current_site }}{% url "datul:p2tel_list" %}1/</a></li>
        <p>header param : Authorization ('Bearer' + '&lt;spasi&gt;' + token) </p>
        <p>success return : STATUS 200, peserta</p>
    </ul>
</ol>