<h4>
    <li><a name='Peserta'></a>Model Peserta</li>
</h4>
<p>Model ini berisi data Peserta Datul</p>
<ol type="a">
    <li>Get ALL</li>
    <ul>
        <li>GET method <a href='#Peserta'>{{ current_site }}{% url "datul:peserta_list" %}</a></li>
        <p>header param : Authorization ('Bearer' + '&lt;spasi&gt;' + token) </p>
        <p>success return : STATUS 200, list(peserta)</p>
    </ul>
    <li>Get by ID</li>
    <ul>
        <li>GET method <a href='#Peserta'>{{ current_site }}{% url "datul:peserta_list" %}1/</a></li>
        <p>header param : Authorization ('Bearer' + '&lt;spasi&gt;' + token) </p>
        <p>success return : STATUS 200, peserta</p>
    </ul>
    <li>Get by Status</li>
    <p>
        keterangan status peserta<br>
        0 = tidak wajib datul<br>
        1 = belum datul<br>
        2 = menunggu konfirmasi<br>
        3 = sudah datul<br>
        4 = selesai datul<br>
        5 = pmp baru<br>
    </p>
    <ul>
        <li>GET method <a href='#Peserta'>{{ current_site }}{% url "datul:peserta_list" %}status/0/</a></li>
        <p>header param : Authorization ('Bearer' + '&lt;spasi&gt;' + token) </p>
        <p>success return : STATUS 200, list(peserta)</p>
    </ul>
</ol>