<h4>
    <li><a name='Pmp'></a>Model PMP</li>
</h4>
<ol type="a">
    <li>Get ALL</li>
    <ul>
        <li>GET method <a href='#PMP'>{{ current_site }}{% url "datul:pmp_list" %}</a></li>
        <p>header param : Authorization ('Bearer' + '&lt;spasi&gt;' + token) </p>
        <p>success return : STATUS 200, list(peserta)</p>
    </ul>
    <li>Get by ID</li>
    <ul>
        <li>GET method <a href='#PMP'>{{ current_site }}{% url "datul:pmp_list" %}1/</a></li>
        <p>header param : Authorization ('Bearer' + '&lt;spasi&gt;' + token) </p>
        <p>success return : STATUS 200, peserta</p>
    </ul>
</ol>