<h4>
    <li><a name='Provinsi'></a>Model Provinsi</li>
</h4>
<ol type="a">
    <li>Get ALL</li>
    <ul>
        <li>GET method <a href='#Provinsi'>{{ current_site }}{% url "datul:prov_list" %}</a></li>
        <p>header param : Authorization ('Bearer' + '&lt;spasi&gt;' + token) </p>
        <p>success return : STATUS 200, list(provinsi)</p>
    </ul>
    <li>Get by ID</li>
    <ul>
        <li>GET method <a href='#Provinsi'>{{ current_site }}{% url "datul:prov_list" %}1/</a></li>
        <p>header param : Authorization ('Bearer' + '&lt;spasi&gt;' + token) </p>
        <p>success return : STATUS 200, provinsi</p>
    </ul>
</ol>