<h4>
    <li><a name='User'></a>Model User</li>
</h4>
<p>Foto Profil disimpan di Model USER</p>
<ol type="a">
    <li>Get by nik</li>
    <ul>
        <li>GET method <a href='#User'>{{ current_site }}/api/user/123456/</a></li>
        <p>header param : Authorization ('Bearer' + '&lt;spasi&gt;' + token)</p>
        <p>success return : STATUS 200, user</p>
    </ul>
    <li>Get by username</li>
    <ul>
        <p>Ada Beberapa akun yang tidak memiliki nik, maka gunakan usernamenya</p>
        <li>GET method <a href='#User'>{{ current_site }}/api/user/id/admin/</a></li>
        <p>header param : Authorization ('Bearer' + '&lt;spasi&gt;' + token)</p>
        <p>success return : STATUS 200, user</p>
    </ul>
</ol>