<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
{% load static %}
<!-- Custom styles for this template -->
<link rel="stylesheet" type="text/css" href="{% static 'info/style.css' %}"/>

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="SIMPUL DAPEN TELKOM">
<meta name="author" content="Achmad Abdul Rofiq & Bisma Wahyu">