{% extends 'info/layout/base.html' %}
{% block title %}{% block text-title %}Simpul Api{% endblock text-title %} | {% endblock title %}

{% block content %}
<p>Page Sederhana ini berisi dokumentasi dalam menggunakan API Simpul</p>
<p>Berikut Ini Index dari Url yang ada dan Bagaimana Cara Menggunakannya:</p>
<ol>
    <li><a href="#Auth">Authentication</a></li>
    <li><a href="#User">Model User</a></li>
    <li><a href="#Peserta">Model Peserta</a></li>
    <li><a href="#Pmp">Model PMP</a></li>
    <li><a href="#P2tel">Model P2TEL</a></li>
    <li><a href="#Provinsi">Model Provinsi</a></li>
    <li><a href="#Daerah">Model Daerah</a></li>
</ol>
<p class="alert alert-warning">
    <b>*</b> is not required attribute
    <br>
    penggunaan /1/ atau /ABAH+LUENG/ hanya contoh untuk memasukkan valuenya
    <br>
    simbol <b>+</b> digunakan untuk menggantikan whitespace/spasi
</p>
<ol>
    {% include 'info/model/auth.html' %}
    {% include 'info/model/user.html' %}
    {% include 'info/model/peserta.html' %}
    {% include 'info/model/pmp.html' %}
    {% include 'info/model/p2tel.html' %}
    {% include 'info/model/provinsi.html' %}
    {% include 'info/model/daerah.html' %}    
</ol>
{% endblock content %}

{% block date %}Thu, 15 Oct 2018{% endblock date %}